"Seg fault: 11" when validating an augmented RPC with a NP-container missing

**Note:** the `test` module below defines both the `rpc` and the augmentation of it in the same module.  This doesn't make sense in the real world, but it produces the same results as when the `rpc` and `augment` statements were in different modules.

**Note:** using today's `devel` branch (i.e.:`yanglint SO 1.8.1`)

Given file `test.yang` as:
```
module test {
  yang-version 1.1;
  namespace "urn:ietf:params:xml:ns:yang:t";
  prefix t;
  rpc my-rpc {
    input {
      leaf a {
        type string;
      }
    }
  }
  augment "/t:my-rpc/t:input" {
    container c1 {
      presence "";
    }
    container c2 {
    }
  }
}
```

And file `test.json` as:
```
{
  "test:my-rpc" : {
    "a": "foo",
    "test:c1": {}
  }
}
```

The command `yanglint -VVV -s -t rpc test.yang test.json` produces:
```
Validating test.yang schema file.
verb: Module "test" successfully parsed as implemented.
Enabling all features in module test.
Segmentation fault: 11
```

Adding the NP-container `c2` validates fine: 
```
$ cat test.json
{
  "test:my-rpc" : {
    "a": "foo",
    "test:c1": {},
    "test:c2": {}
  }
}
$ yanglint -s -t rpc test.yang test.json
$ echo $?
0
```

Disappearing `c1` also validates fine:
```
$ cat test.json
{
  "test:my-rpc" : {
    "a": "foo",
    "test:c2": {}
  }
}
$ yanglint -s -t rpc test.yang test.json
$ echo $?
0
```

[RFC 7950, Section 7.17](https://tools.ietf.org/html/rfc7950#section-7.17) says:
```
   If the augmentation adds mandatory nodes (see Section 3) that
   represent configuration to a target node in another module, the
   augmentation MUST be made conditional with a "when" statement.  Care
   must be taken when defining the "when" expression so that clients
   that do not know about the augmenting module do not break.
```

But clearly `c2` is not mandatory.

HI Kent,
right, it was just a minor problem and it should work now in `devel`. In the next few days there should be a release so it will also get to `master`.

Regards,
Michal

Validated using the test demo above!   

My real code/models changed too much yesterday to validate this against it now...