lyd_validate add default value for RPC in wrong order in devel branch. 

code:
```
int main(void)
{
    struct ly_ctx *ly_ctx = NULL;
    struct lyd_node *root, *node;
    const struct lys_module *module, *module2;
    int rc = 0;

    ly_ctx = ly_ctx_new(".");

    lys_parse_mem(ly_ctx, (const char *)ietf_netconf_acm_yin, LYS_IN_YIN);
    printf("load ietf_netconf_acm_yin %s\n", module ? "success" : "failure");

    module = lys_parse_mem(ly_ctx, (const char *)ietf_netconf_2011_06_01_yin, LYS_IN_YIN);
    printf("load ietf_netconf_2011_06_01_yin %s\n", module ? "success" : "failure");

    lys_parse_mem(ly_ctx, (const char *)ietf_netconf_monitoring_yin, LYS_IN_YIN);
    printf("load ietf_netconf_monitoring_yin %s\n", module ? "success" : "failure");

    module2 = lys_parse_mem(ly_ctx, (const char *)ietf_netconf_with_defaults_2011_06_01_yin, LYS_IN_YIN);
    printf("load ietf_netconf_with_defaults_2011_06_01_yin %s\n", module ? "success" : "failure");

    lys_features_enable(module, "writable-running");

    root = lyd_new(NULL, module, "edit-config");
    node = lyd_new(root, module, "target");
    node = lyd_new_leaf(node, module, "running", NULL);
    node = lyd_new_anydata(root, module, "config", "<a>1</a>", LYD_ANYDATA_CONSTSTRING);

    rc = lyd_validate(&root, LYD_OPT_STRICT | LYD_OPT_RPC, 0);
    printf("validate %s\n", rc == 0 ? "success" : "failure");

    lyd_print_file(stdout, root, LYD_XML, 0);
    printf("\nAll success!\n");

    lyd_free_withsiblings(root);
    ly_ctx_destroy(ly_ctx, NULL);

    return 0;
}
```
result:
```
load ietf_netconf_acm_yin success
load ietf_netconf_2011_06_01_yin success
load ietf_netconf_monitoring_yin success
load ietf_netconf_with_defaults_2011_06_01_yin success
validate success
**<edit-config xmlns="urn:ietf:params:xml:ns:netconf:base:1.0"><target><running/></target><config>&lt;a&gt;1&lt;/a&gt;</config><default-operation>merge</default-operation><error-option>stop-on-error</error-option></edit-config>**
All success!
```
The 'target' node should be the last node in edit-config.

I'm not getting your point. Why the `target` node should be the last?

ah, now I see - the `config` is supposed to be the last, right?

yes, it is supposed that all nodes in RPC should be in the same order as defined in the schema. and  edit-config is defined like this:
 ```
 <rpc name="edit-config">
    <description>
      <text>The &lt;edit-config&gt; operation loads all or part of a specified
configuration to the specified target configuration.</text>
    </description>
    <reference>
      <text>RFC 6241, Section 7.2</text>
    </reference>
    <input>
      <container name="target">
        <description>
          <text>Particular configuration to edit.</text>
        </description>
        <choice name="config-target">
          <mandatory value="true"/>
          <description>
            <text>The configuration target.</text>
          </description>
          <leaf name="candidate">
            <if-feature name="candidate"/>
            <type name="empty"/>
            <description>
              <text>The candidate configuration is the config target.</text>
            </description>
          </leaf>
          <leaf name="running">
            <if-feature name="writable-running"/>
            <type name="empty"/>
            <description>
              <text>The running configuration is the config source.</text>
            </description>
          </leaf>
        </choice>
      </container>
      <leaf name="default-operation">
        <type name="enumeration">
          <enum name="merge">
            <description>
              <text>The default operation is merge.</text>
            </description>
          </enum>
          <enum name="replace">
            <description>
              <text>The default operation is replace.</text>
            </description>
          </enum>
          <enum name="none">
            <description>
              <text>There is no default operation.</text>
            </description>
          </enum>
        </type>
        <default value="merge"/>
        <description>
          <text>The default operation to use.</text>
        </description>
      </leaf>
      <leaf name="test-option">
        <if-feature name="validate"/>
        <type name="enumeration">
          <enum name="test-then-set">
            <description>
              <text>The server will test and then set if no errors.</text>
            </description>
          </enum>
          <enum name="set">
            <description>
              <text>The server will set without a test first.</text>
            </description>
          </enum>
          <enum name="test-only">
            <description>
              <text>The server will only test and not set, even
if there are no errors.</text>
            </description>
          </enum>
        </type>
        <default value="test-then-set"/>
        <description>
          <text>The test option to use.</text>
        </description>
      </leaf>
      <leaf name="error-option">
        <type name="enumeration">
          <enum name="stop-on-error">
            <description>
              <text>The server will stop on errors.</text>
            </description>
          </enum>
          <enum name="continue-on-error">
            <description>
              <text>The server may continue on errors.</text>
            </description>
          </enum>
          <enum name="rollback-on-error">
            <description>
              <text>The server will roll back on errors.
This value can only be used if the 'rollback-on-error'
feature is supported.</text>
            </description>
          </enum>
        </type>
        <default value="stop-on-error"/>
        <description>
          <text>The error option to use.</text>
        </description>
      </leaf>
      <choice name="edit-content">
        <mandatory value="true"/>
        <description>
          <text>The content for the edit operation.</text>
        </description>
        <anyxml name="config">
          <description>
            <text>Inline Config content.</text>
          </description>
        </anyxml>
        <leaf name="url">
          <if-feature name="url"/>
          <type name="inet:uri"/>
          <description>
            <text>URL-based config content.</text>
          </description>
        </leaf>
      </choice>
    </input>
  </rpc>
```