Default with-default namespace tag changed

One of our (FRR) regression tests is failing when I run with the v5.0.5 from the devel branch. I'll note that the FRR code was updated specify shrink JSON when adapting to the v5 libyang changes. The difference here is that the namespace for `default` changes from `ietf-netconf-with-defaults` to `default`. These are results when passing `LYD_PRINT_WD_IMPL_TAG` wd options.

Old output (3.13.6)
```
{
  "frr-zebra:evpn-mh": {
    "df-preference": 32767,
    "bypass": false,
    "@bypass": {
      "ietf-netconf-with-defaults:default": true
    },
    "uplink": false,
    "@uplink": {
      "ietf-netconf-with-defaults:default": true
    }
  }
}
```

New output (devel)
```
{"frr-zebra:evpn-mh":{"df-preference":32767,"bypass":false,"@bypass":{"default:default":true},"uplink":false,"@uplink":{"default:default":true}}}
```

Yes, this is essentially a bug fix and is unfortunately required for compliance with RFC 6243 (see #2405). That is, a change was required for the XML printer and the `default` metadata had to be moved to a different module than `ietf-netconf-with-defaults`. I have chosen `default` but it does not make much difference, a change in the JSON printer could not be avoided.

It seems like RFC8040 says the previous value was not only right but a MUST:

https://datatracker.ietf.org/doc/html/rfc8040#autoid-65

```
   If the "with-defaults" parameter is set to "report-all-tagged", then
   the server MUST adhere to the default-reporting behavior defined in
   Section 3.4 of [RFC6243].  Metadata is reported by the server as
   specified in Section 5.3.  The XML encoding for the "default"
   attribute sent by the server for default nodes is defined in
   Section 6 of [RFC6243].  The JSON encoding for the "default"
   attribute MUST use the same values, as defined in [RFC6243], but
   encoded according to the rules in [RFC7952].  The module name
   "ietf-netconf-with-defaults" MUST be used for the "default"
   attribute.
```

Okay, `ietf-netconf-with-defaults` is used for JSON again while XML is using the `default` module. Some specs really need an update...