Forward references don't seem to work

In _3gpp-common-trace.yang, there are various 'when' items in leaf clauses that refer to leaf clauses further down the yang file. RFC7950 section 6.2.1 says it's supposed to be able to do this. "Forward references are allowed in YANG." - last sentence of the paragraph. But libyang fails to pick this up and emits a warning.

[_3gpp-common-trace.yang.txt](https://github.com/CESNET/libyang/files/9002029/_3gpp-common-trace.yang.txt)


Providing an actual error message as well as all the required input files would help troubleshoot the issue. That model imports other models.

$ yanglint _3gpp-5gc-nrm-affunction.yang
...
libyang warn: Schema node "tjTraceReportingFormat" for parent "/_3gpp-common-managed-element:ManagedElement/TraceJob/attributes/tjStreamingTraceConsumerURI" not found; in expr "./tjTraceReportingFormat" with context node "/_3gpp-common-managed-element:ManagedElement/TraceJob/attributes/tjStreamingTraceConsumerURI".
...
This is an example.

The leaf is on line 646 and the clause referring to it is on line 399

I have uploaded the full 3gpp set. So you can run the above command (as there are nested imports).

[3gpp-yang-models.zip](https://github.com/CESNET/libyang/files/9002522/3gpp-yang-models.zip)



It's much better to start debugging the first warning instead of the last one (same as when working with GCC for example -- once there's something "fishy", perhaps all the subsequent warnings are caused by that). I don't know what file you're referring to, and these line numbers do not appear to match the `_3gpp-5gc-nrm-affunction.yang`, but anyway, the models really appear to be broken.

Consider file `_3gpp-common-trace.yang`, line 399, which says:
```yang
    leaf tjStreamingTraceConsumerURI {
      when './tjTraceReportingFormat  = "STREAMING"';             // <----------- this one
      type inet:uri;
      mandatory true;
      description "URI of the Streaming Trace data reporting MnS consumer
        (a.k.a. streaming target).
        This attribute shall be present if file based trace data reporting is
        supported and tjTraceReportingFormat set to 'file based' or when
        tjJobType is set to Logged MDT or Logged MBSFN MDT.";
      reference "Clause 5.9 of 3GPP TS 32.422";
    }
```

That `when` statement is trying to look for a child of a leaf, which does not make sense. The only entity named `tjTraceReportingFormat` is located on line 464, and it is actually a *sibling* of leaf `tjStreamingTraceConsumerURI`. When in a context of a leaf, its siblings are reachable via a detour through their common parent, so in this case the XPath should read `../tjTraceReportingFormat`. Once I fix that, that one particular warning disappears, and you have got just a few hundreds more to go :).

We concur.