query about duplicate instance error during RPC request parsing in edit-config.

Below error is returned when RPC request has multi instance with same key values.  It is done reference to RFC 6020?
/* LYE_DUPLIST */      "Duplicated instance of \"%s\" list.",

The same kind of behavior for RPC request with multiple instances of same module root.
code reference in function **resolve_instid**
        `LOGVAL(LYE_TOOMANY, LY_VLOG_LYD, data, path, "data tree");`
 


What does the "RPC request" mean? Can you be more specific and provide the RPC content and the appropriate schema(s)?


```
<rpc message-id="60" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
<edit-config>
<target><running/></target>
<error-option>rollback-on-error</error-option>
<config>
<interfaces xmlns="urn:ietf:params:xml:ns:yang:ietf-interfaces">
<interface> 
<name>LoopBack1</name> 
</interface> 
<interface> 
<name>LoopBack1</name> 
</interface> 
</interfaces> 
</config>
</edit-config>
</rpc>


<rpc message-id="60" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
<edit-config>
<target><running/></target>
<error-option>rollback-on-error</error-option>
<config>
<interfaces xmlns="urn:ietf:params:xml:ns:yang:ietf-interfaces">
<interface> 
<name>LoopBack1</name> 
</interface> 
</interfaces> 
<interfaces xmlns="urn:ietf:params:xml:ns:yang:ietf-interfaces">
<interface> 
<name>LoopBack2</name> 
</interface> 
</interfaces> 
</config>
</edit-config>
</rpc>
```

RFC 6241, section 7.2:
```
config:  ... and the contents MUST follow the constraints of that data model ...
```
According to the ietf-interfaces data model, the `interface` is the list identified by the `name` leaf as its key and you cannot have multiple list instances with the same key. Similarly, `interfaces` is the container, so it is not supposed to appear multiple times.

If your client-side tools are not able to merge the trees into a single one, libyang can do it for you via `lyd_merge()` function.

I feel multiple instances can also be merged as they has same key.

From RFC 7950, sec 7.8.5:
```
A list is encoded as a series of XML elements, one for each entry in the list.
```
But you encode one entry by multiple XML elements. Yes, the instances can be merged, so why don't you do that?