'augment' statement --> "No resolvents found for leafref"

grouping.yang:
```
module grouping {
  yang-version 1.1;
  namespace "https://example.net/grouping";
  prefix "g";

  grouping foo {
    container widgets {
      list widget {
        key name;
        leaf name {
          type string;
        }
      }
    }
  }

  grouping bar {
    leaf widget-ref {
      type leafref {
        path "/widgets/widget/bad-name";  // no error, grouping not resolved
      }
    }
  }

  grouping baz {
    uses bar; // no error, grouping still not resolved
  }

  grouping qux {
    uses foo {
      augment "widgets" {
        uses bar;  // error, grouping now being resolved (though path is bad)
      }            // why resolved when no 'uses' statement for it?
    }
  }

  grouping quux {
    uses foo {
      augment "widgets" {
        leaf widget-ref {
          type leafref {
            path "/widgets/widget/name"; // error, grouping being resolved (path is good)
          }                              // why resolved when no 'uses' statement for it?
        }
      }
    }
  }

  grouping quuz {    // same as previous, but doesn't augment 'foo'
    grouping xyzzy {
      container pt;
    }
    uses xyzzy {
      augment "pt" {
        leaf widget-ref {
          type leafref {
            path "/widgets/widget/name";
          }
        }
      }
    }
  }

}
```


The following error occurs:
```
$ yanglint grouping.yang 
err : No resolvents found for leafref "/widgets/widget/bad-name". (/grouping:{grouping}[qux]/widgets/widget-ref)
err : No resolvents found for leafref "/widgets/widget/name". (/grouping:{grouping}[quux]/widgets/widget-ref)
err : No resolvents found for leafref "/widgets/widget/name". (/grouping:{grouping}[quuz]/pt/widget-ref)
err : Module "grouping" parsing failed.
```


Adding another YANG module to instantiate the 'foo' grouping doesn't help:
```
$ cat instance.yang:
module instance {
  yang-version 1.1;
  namespace "https://example.net/instance";
  prefix "inst";
  import "grouping" { prefix g; }
  uses g:foo;
}

$ yanglint instance.yang
err : No resolvents found for leafref "/widgets/widget/bad-name". (/grouping:{grouping}[qux]/widgets/widget-ref)
err : No resolvents found for leafref "/widgets/widget/name". (/grouping:{grouping}[quux]/widgets/widget-ref)
err : No resolvents found for leafref "/widgets/widget/name". (/grouping:{grouping}[quuz]/pt/widget-ref)
err : Module "grouping" parsing failed.
err : Importing "grouping" module into "instance" failed.
err : Module "instance" parsing failed.
```

I think the reason for this can be traced to an overly aggressive interpretation of RFC 7950, Section 6.4.1 where it says `Inside a grouping, that namespace is affected by where the grouping is used`.  [FWIW, I couldn't find anything in Section 7.17 (The "augment" Statement) that suggests this behavior.]

In the last example, while `xyzzy` is being *used* by `quuz`, the augmentation belongs to `quuz` (this would be more obvious if different namespaces were being used), and `quuz` is not being used (just like with `bar` and `baz`).

To be clear, I think that all the groupings should be considered valid in `groupings.yang` but, of course, the groupings containing `bad-name` would fail if instantiated in `instance.yang`.

PS: because none of the leafref paths specify prefixes, it is expected that that all while use the prefix for `instance.yang` (i.e., `inst`).





Hi Kent,
it was quite simply a bug, it was not properly detected that the leafref is in an unresolved grouping, it should be now. Thanks for a nice example.

Regards,
Michal