Validation of a non-existent container fails

Hi,

please have a look at this test case: 

https://github.com/frimpler/libyang/commit/767f8d049050a005321b8b1de8ce8ce7f4ae5a20

It addresses an issue related to lyd_validation(). The validation fails whenever the must statement of a conditional container has not been met. In such a case, the validation should ignore/skip the validation of this non-existing container. 

Btw.:

- The validation succeeds currently only if the must statement has been met.
- The test case is derived from a failing copy-config operation implemented by the netconf 2 stack.

Regards,
Frank

Hi Frank,
this whole non-presence container business is a bit tricky but we have reached a conclusion that our current implementation behaves correctly. Referencing [this](https://tools.ietf.org/html/rfc7950#section-7.5.1) section, the sentence

"In particular, the presence of the container node with no child nodes is semantically equivalent to the absence of the container node."

It is basically saying that the behaviour must be consistent whether the container exists or not. That means we cannot let the validation pass when the container is missing and fail it when the container is present. Instead, we treat it as always existing as long as its parent exists and properly evaluate any `must` expressions it has. I think this is actually the only correct solution compliant to the RFC 7950.

Regards,
Michal

Hi Michal,

it is indeed the sentence your refer to, which let us think that the implemented behaviour is not correct. The empty container2 is in either case equivalent to "absent" but causes that any setting to container1 does not validate and becomes impossible - except the one which fulfils its must condition. This test might look a bit academically. But I can imagine that this container is just a "place-holder" for a later augmentation...

Regards,
Frank


Hi Frank, let say that we follow your interpretation and do not check the must condition when the container is not explicitely present. Then, following the refered rule, we cannot check the condition even if the container is present, because the result is supposed to be semantically equivalent. But that's obviously wrong, do you agree?

Hi all, in my opinion, if a node does not exist in the data, then any such constraints on that node are not evaluated. Admittedly, the RFC sometimes conflicts with itself or doesn't give every possible scenario, but if I replace the 'must' constraint with a 'when' constraint, then this text applies.

    If data for a node tagged with "when" is present and the "when"
    condition evaluates to "false", the server MUST reply with an
    "unknown-element" <error-tag> in the <rpc-error>.

This says that the 'when' condition applies only when the node is present. I would expect the same for a'must' statement. It seems odd to me that my configuration would on a conditional node which isn't a) mandatory and b) not present in my data. I don't think that is what the RFC authors had in mind when they wrote the text comparing a container with no children to the lack of a container. 

Regards,
Joey


`when` and `must` statements are evaluated as XPaths with XPath context described in RFC 7950, sec. 6.4.1. The key point in your text is `node is present`. I believe that it does not mean only that the node is explicitely present. In specified conditions (sec. 6.4.1), the nodes can be actually implicitely present since such nodes must be part of the accessible tree.

Example. There is explicitly present leaf with must condition depending on presence of some other node. This node is not explicitely present, but some of the rules from sec. 6.4.1 applies and the node is part of the accessible tree. But things get more complicated in case this node has its own when condition. Then also this when condition must be evaluated to get know if the node is really present (since false when condition can cause that the node is actually not present). Therefore, it is necessary to evaluate even when/must condition on nodes, which are not explicitely present, but thay are part of the accessible tree from the XPath point of view.

Hi Radek,

I've tried to find better arguments based on RFC statements (nevertheless, I think I understand your point considering the parser implementation). The key statements IMHO are indeed located in sec. 6.4.1. It's all about the definition of "accessible data tree". Considering the examples in 6.4.1.1(i.o to see what is meant) and these sentence from
- sec. 8.1.   

> The following properties are true in a valid **data tree**:
...
> All "must" constraints MUST evaluate to "true"

- sec. 6.4.1    

> If a node that exists in the accessible tree has a non-presence
>    container as a child, then the non-presence container also exists in
>    the accessible tree.

I should think the negation of the last statement tells that the non-presence container in our test is not part of the accessible data tree (because **_our_** non-presence container has no parent in the accessible data tree), or am I wrong?

And stepping one step back from it: 
A must statement is usually there to prevent the datastore from inconsistent data trees. But in our test, nothing can harm the data tree in neither way, because this container 2 has no meaning without leaves. (As I mentioned before, we often see that empty containers are introduced as place-holders for augmentations and in such a case even the module used in the test could make sense)

Best regards,
Frank

ad top level non-presence containers - good point, I'll try to investigate it more. From the first sight, it seems to me as a child of `/` (root) node which is always present (even in empty tree). But I'll try to discuss it with some other people.

ad meaning of container2 - I'm afraid of such a heuristic. It's actually guessing what is useful and what not. I would prefer just to strictly follow the specification (despite it is not perfect and do not always cover all cases). And event that will not be perfect since YANG makes description content normative.

I've found a relevant [thread](https://www.ietf.org/mail-archive/web/netmod/current/msg15377.html) in netmod mailing list.