Parsing fails with "Invalid UTF-8" error

Version : 0.12.174

Yang file of size 8192 bytes fails in parsing with below error:

> libyang[0]: Invalid UTF-8 leading byte 0x00
> libyang[0]: Module "t" parsing failed.
> **

Yang file to reproduce:
```
module t {

  namespace "urn:ietf:params:xml:ns:yang:t";
  prefix "yang";

  revision 2010-09-24 {
    description
     "Initial revision.";
    reference
     "RFC 6021: Common YANG Data Types";
  }

  /*** collection of counter and gauge types ***/

  typedef counter32 {
    type uint32;
  }

  typedef zero-based-counter32 {
    type yang:counter32;
    default "0";
  }

  typedef counter64 {
    type uint64;
  }

  typedef zero-based-counter64 {
    type yang:counter64;
    default "0";
  }

  typedef gauge32 {
    type uint32;
  }

  typedef gauge64 {
    type uint64;
    description
     "The gauge64 type represents a non-negative integer, which
      baba black sheep have you any wool
      in RFC ";
    reference
     "RFC 2856: Textual Conventions for Additional High Capacity
                Data Types";
  }

  /*** collection of identifier related types ***/

  typedef object-identifier {
    type string {
      pattern '(([0-1](\.[1-3]?[0-9]))|(2\.(0|([1-9]\d*))))'
            + '(\.(0|([1-9]\d*)))*';
    }
    description
     "The object-identifier type represents administratively
      assigned names in a registration-hierarchical-name tree.

      Values of this type are denoted as a sequence of numerical
      non-negative sub-identifier values.  Each sub-identifier
      value MUST NOT exceed 2^32-1 (4294967295).  Sub-identifiers
      are separated by single dots and without any intermediate
      whitespace.

      The ASN.1 standard restricts the value space of the first
      sub-identifier to 0, 1, or 2.  Furthermore, the value space
      of the second sub-identifier is restricted to the range
      0 to 39 if the first sub-identifier is 0 or 1.  Finally,
      the ASN.1 standard requires that an object identifier
      has always at least two sub-identifier.  The pattern
      captures these restrictions.

      Although the number of sub-identifiers is not limited,
      module designers should realize that there may be
      implementations that stick with the SMIv2 limit of 128
      sub-identifiers.

      This type is a superset of the SMIv2 OBJECT IDENTIFIER type
      since it is not restricted to 128 sub-identifiers.  Hence,
      this type SHOULD NOT be used to represent the SMIv2 OBJECT
      IDENTIFIER type, the object-identifier-128 type SHOULD be
      used instea";
    reference
     "ISO9834-1: Information technology -- Open Systems
      Interconnection -- Procedures for the operation of OSI
      Registration Authorities: General procedures and top
      arcs of the ASN.1 Object Identifier tree";
  }

  typedef object-identifier-128 {
    type object-identifier {
      pattern '\d*(\.\d*){1,127}';
    }
    description
     "This type represents object-identifiers restricted to 128
      sub-identifiers.

      In the value set and its semantics, this type is equivalent
      to the OBJECT IDENTIFIER type of the SMIv2.";
    reference
     "RFC 2578: Structure of Management Information Version 2 (SMIv2)";
  }

  /*** collection of date and time related types ***/

  typedef date-and-time {
    type string {
      pattern '\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(\.\d+)?'
            + '(Z|[\+\-]\d{2}:\d{2})';
    }
    description
     "The date-and-time type is a profile of the ISO 8601
      standard for representation of dates and times using the
      Gregorian calendar.  The profile is defined by the
      date-time production in Section 5.6 of RFC 3339.

      The date-and-time type is compatible with the dateTime XML
      schema type with the following notable exceptions:

      (a) The date-and-time type does not allow negative years.

      (b) The date-and-time time-offset -00:00 indicates an unknown
          time zone (see RFC 3339) while -00:00 and +00:00 and Z all
          represent the same time zone in dateTime.

      (c) The canonical format (see below) of data-and-time values
          differs from the canonical format used by the dateTime XML
          schema type, which requires all times to be in UTC using the
          time-offset 'Z'.

      This type is not equivalent to the DateAndTime textual
      convention of the SMIv2 since RFC 3339 uses a different
      separator between full-date and full-time and provides
      higher resolution of time-secfrac.

      The canonical format for date-and-time values with a known time
      zone uses a numeric time zone offset that is calculated using
      the device's configured known offset to UTC time.  A change of
      the device's offset to UTC time will cause date-and-time values
      to change accordingly.  Such changes might happen periodically
      in case a server follows automatically daylight saving time
      (DST) time zone offset changes.  The canonical format for
      date-and-time values with an unknown time zone (usually referring
      to the notion of local time) uses the time-offset -00:00.";
    reference
     "RFC 3339: Date and Time on the Internet: Timestamps
      RFC 2579: Textual Conventions for SMIv2
      XSD-TYPES: XML Schema Part 2: Datatypes Second Edition";
  }

  typedef timeticks {
    type uint32;
    description
     "The timeticks type represents a non-negative integer that
      represents the time, modulo 2^32 (4294967296 decimal), in
      hundredths of a second between two epochs.  When a schema
      node is defined that uses this type, the description of
      the schema node identifies both of the reference epochs.

      In the value set and its semantics, this type is equivalent
      to the TimeTicks type of the SMIv2.";
    reference
     "RFC 2578: Structure of Management Information Version 2 (SMIv2)";
  }

  typedef timestamp {
    type yang:timeticks;
    description
     "The timestamp type represents the value of an associated
      timeticks schema node at which a specific occurrence happened.
      The specific occurrence must be defined in the description
      of any schema node defined using this type.  When the specific
      occurrence occurred prior to the last time the associated
      timeticks attribute was zero, then the timestamp value is
      zero.  Note that this requires all timestamp values to be
      reset to zero when the value of the associated timeticks
      attribute reaches 497+ days and wraps around to zero.

      The associated timeticks schema node must be specified
      in the description of any schema node using this type.

      In the value set and its semantics, this type is equivalent
      to the TimeStamp textual convention of the SMIv2.";
    reference
     "RFC 2579: Textual Conventions for SMIv2";
  }

  /*** collection of generic address types ***/

  typedef phys-address {
    type string {
      pattern '([0-9a-fA-F]{2}(:[0-9a-fA-F]{2})*)?';
    }
    description
     "Represents media- or physical-level addresses represented
      as a sequence octets, each octet represented by two hexadecimal
      numbers.  Octets are separated by colons.  The canonical
      representation uses lowercase characters.

      In the value set and its semantics, this type is equivalent
      to the PhysAddress textual convention of the SMIv2.";
    reference
     "RFC 2579: Textual Conventions for SMIv2";
  }

  typedef mac-address {
    type string {
      pattern '[0-9a-fA-F]{2}(:[0-9a-fA-F]{2}){5}';
    }
    description
     "The mac-address type represents an IEEE 802 MAC address.
      The canonical representation uses lowercase characters.

      In the value set and its semantics, this type is equivalent
      to the MacAddress textual convention of the SMIv2.";
    reference
     "IEEE 802: IEEE Standard for Local and Metropolitan Area
                Networks: Overview and Architecture
      RFC 2579: Textual Conventions for SMIv2";
  }

  /*** collection of XML specific types ***/

  typedef xpath1.0 {
    type string;
    description
     "This type represents an XPATH 1.0 expression.

      When a schema node is defined that uses this type, the
      description of the schema node MUST specify the XPath
      context in which the XPath expression is evaluated.";
    reference
     "XPATH: XML Path Language (XPath) Version 1.0";
  }

}
```

Adding the failed and successful debug output of parsing of the above yang file.
Above yang file was made to pass parsing by making its size to 8187 bytes by removing some characters from description.

[t_fails.txt](https://github.com/CESNET/libyang/files/1621348/t_fails.txt)
[t_success.txt](https://github.com/CESNET/libyang/files/1621349/t_success.txt)


Hi,
please update you *libyang*, it should be already fixed. Moreover, please do not post issues not having the latest versions of the library either from `master` or `devel` branch (currently, it makes no difference).

Regards,
Michal

same issue with latest

Hi,
there is no issue with the latest *libyang* version, I have just tested it. Properly install *libyang* and you will not encounter this issue. You can verify what I am saying by building *libyang*, running the local just-built `yanglint`, and loading the schema.

Regards,
Michal

It doesnt work. yanglint works fine though.

```
[amuralid@amuralid-latest:/net/homes…alid/libyang-master]$ LIBYANG_EXTENSIONS_PLUGINS_DIR=/net/homes/home1/amuralid/libyang-master/build/src/extensions ./build/yanglint utf8_issue.yang

[amuralid@amuralid-latest:/net/homes…alid/libyang-master]$ LIBYANG_EXTENSIONS_PLUGINS_DIR=/net/homes/home1/amuralid/libyang-master/build/src/extensions ./parse_test
[==========] Running 1 test(s).
[ RUN      ] test_parse
libyang[0]: Invalid UTF-8 leading byte 0x00
libyang[0]: Module "utf8_issue" parsing failed.
[  ERROR   ] --- Test failed with exception: Segmentation fault(11)
[  FAILED  ] test_parse
[==========] 1 test(s) run.
[  PASSED  ] 0 test(s).
[  FAILED  ] 1 test(s), listed below:
[  FAILED  ] test_parse

 1 FAILED TEST(S)
```
ldd output:
```
[amuralid@amuralid-latest:/net/homes…alid/libyang-master]$ ldd parse_test
	linux-vdso.so.1 =>  (0x00007ffdeca18000)
	libyang.so.0.14 => /net/homes/home1/amuralid/libyang-master/build/libyang.so.0.14 (0x00007f70a926f000)
	libcmocka.so.0 => ../cmock_build/src/libcmocka.so.0 (0x00007f70a9063000)
	libc.so.6 => /lib/x86_64-linux-gnu/libc.so.6 (0x00007f70a8c89000)
	libdl.so.2 => /lib/x86_64-linux-gnu/libdl.so.2 (0x00007f70a8a85000)
	libpthread.so.0 => /lib/x86_64-linux-gnu/libpthread.so.0 (0x00007f70a8867000)
	libpcre.so.3 => /lib/x86_64-linux-gnu/libpcre.so.3 (0x00007f70a85f7000)
	/lib64/ld-linux-x86-64.so.2 (0x000055ac5858f000)
```

test source file:

```
#include <setjmp.h>
#include <cmocka.h>
#include <stdio.h>
#include <stdlib.h>
#include <sys/types.h>
#include <sys/stat.h>
#include <fcntl.h>
#include <sys/mman.h>
#include <unistd.h>
#include <string.h>
#include <limits.h>

#include "tests/config.h"
#include "./build/src/libyang.h"

/* include private header to be able to check internal values */
#include "./src/context.h"

static int
setup_f(void **state)
{
	(void) state;
  return 0;
}

static int
teardown_f(void **state)
{
    (void) state; /* unused */
    return 0;
}

static void
test_parse(void** state)
{
  (void) state;
  struct ly_ctx *ctx;
  const struct lys_module *mod;
  struct lys_node_leaf *leaf;

  //char buf[4096] = {0,};
  //FILE* fp = fopen("./test_yangs/test-1/rw-rbac-base.yang", "r");
  {
    //fread(buf, 4095, 1, fp);
    ctx = ly_ctx_new(NULL, LY_CTX_ALLIMPLEMENTED);
    //mod = lys_parse_mem(ctx, buf, LYS_IN_YANG);
    ly_ctx_set_searchdir(ctx, "/net/homes/home1/amuralid/libyang-master");
    mod = ly_ctx_load_module(ctx, "utf8_issue", NULL);
    for (int i = 0; i < mod->imp_size; i++) {
      lys_set_implemented(mod->imp[i].module);
    }
    (void) mod;
  }
  //fclose(fp);
  return;
}

int main() {
  const struct CMUnitTest tests[] = {
    cmocka_unit_test(test_parse),
  };


  return cmocka_run_group_tests(tests, NULL, NULL);;
}
```

Did you try like this ? 

Just make sure the size of your yang is 8192 bytes. Copying from here may add some extra bytes.

Hi,
sorry, you are right, but please post your code with the issue next time. Otherwise, we mostly use `yanglint` because it is the easiest way of testing these things.

Anyway, it should be fixed now.

Regards,
Michal

Thanks for fixing it. I will test it.
Can you briefly describe your fix ? It is not clear from the patch.

Thanks,

In brief, there was a bit of chaos and code duplication in schema loading functions, so I have reorganized it.

This fixed the issue because there was already a workaround for this problem in one function but not another. That is also why it worked in `yanglint` (loaded directly) and not in your test (there it was loaded as an import, with that function, anyway).

Regards,
Michal

Ok thanks. It works for me now.