Libyang and openconfig model parsing errors

Downloaded and build latest Libyang pkg (march 9) . Tried to to use yanglint to test it out with yang models from openconfig (https://github.com/openconfig/public/tree/master/release/models)

Getting these basic errors. These models seem to be valid (using pyang). 
```
openconfig/public/release/models$ $PATH_LIBYANG/yanglint types/openconfig-yang-types.yang 
err : Invalid keyword "^[0-9]{4}\-[0-9]{2}\-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}"".
err : Module "openconfig-yang-types" parsing failed.

yanglint --version
yanglint 0.12.114
```
Closest issue I found was at
https://github.com/openconfig/public/issues/44

Any ideas? Is there any incompatibility?


Hi,
we will look into it, but just a note, it works when loaded in YIN format.

Regards,
Michal

Hi.

YANG parser writes correct error message, because backslash is used in double-quoted string (RFC7950 section-6.1.3). You can repair string and it works fine.

Regards,
Pavol

Thanks Pavol. Changing the string to use single-quote instead of double-quote works. Looks like a bug in the openconfig yang files. Will follow-up with them to get it corrected.

Thanks Michal for also looking into it.

This issue can be closed

Hi Pavol,
Read the RFC section and the yang model again. Yes, using single-quote fixes problem. But there does seem to be some other issue.
The RFC says 
" Within a double-quoted string (enclosed within " "), a backslash
   character introduces a representation of a special character, which
   depends on the character that immediately follows the backslash:

    \n      newline
    \t      a tab character
    \"      a double quote
    \\      a single backslash

"

and the pattern in the yang model is   
typedef date-and-time {
    type string {
      pattern "^[0-9]{4}\\-[0-9]{2}\\-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(\\.[0-9]+)?Z[+-][0-9]{2}:[0-9]{2}$";
    }

Pattern starts and end with double-quotes but there is no single '\', all are '\\'. So that should work.

And this passes the pyang parser and online tool - http://www.yangvalidator.com/validator

Other similar patterns in the file do not give the same parse error. 
  typedef dotted-quad {
    type string {
      pattern "^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$";
    }


So it may not be related to '\'? 



I should have "previewed" the comment before posting. Looks the backslashes get removed.
Pls see the actual patterns at
https://github.com/openconfig/public/blob/master/release/models/types/openconfig-yang-types.yang

And comment should say

----
Hi Pavol,
Read the RFC section and the yang model again. Yes, using single-quote fixes problem. But there does seem to be some other issue.
The RFC says
" Within a double-quoted string (enclosed within " "), a backslash
character introduces a representation of a special character, which
depends on the character that immediately follows the backslash:

\n      newline
\t      a tab character
\"      a double quote
\\      a single backslash
"

and the pattern in the yang model is
typedef date-and-time {
type string {
pattern "^[0-9]{4}\\-[0-9]{2}\\-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(\\.[0-9]+)?Z[+-][0-9]{2}:[0-9]{2}$";
}

Pattern starts and end with double-quotes but there is no single backslash, all are double backslash. So that should work.

And this passes the pyang parser and online tool - http://www.yangvalidator.com/validator

Other similar patterns in the file do not give the same parse error. 
typedef dotted-quad {
type string {
pattern "^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$";
}

So it may not be related to parsing of backslash?

Deleted previous comments. Start again

Hi Pavol,
Read section 6.1.3 of RFC 7950. Looks like pattern is still right. Pattern is using double quotes but backslash is used to escape the '-'. That should be valid? Is it some other issue?

thanks
alpesh

Hi Alpesh.

This pattern is wrong. If you want to use backslash in pattern, you can use double backslash in double-quoted string or single-quoted string.

\\    represents a single backslash 

Regards,
Pavol

Hi Pavol
Thanks for ur patience. I understand the current pattern may not match dates with single backslash as the separator.

But why does parser fail? The way I read RFC, parser should treat single backslash as escape for the subsequent '-'

thanks
alpesh

Hi Alpesh,
you must distinguish between YANG encoding and pattern encoding itself. It seems your pattern is `^[0-9]{4}\-[0-9]{2}\-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(\.[0-9]+)?Z[+-][0-9]{2}:[0-9]{2}$`. Now you must take this pattern and encode it into YANG based on [this RFC section](https://tools.ietf.org/html/rfc7950#section-6.1.3). That means you either keep it exactly the way it is and put it into single quotes`'` or you encode all the special characters (which gets you `^[0-9]{4}\\-[0-9]{2}\\-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(\\.[0-9]+)?Z[+-][0-9]{2}:[0-9]{2}$`) and put double quotes `"` around it. Because backslashes are common in patterns, it is a good practice to put all the patterns into single-quoted strings. Still, the message could have been a bit clearer.

Regards,
Michal

Thanks Michal. Now I understand your reference to RFC.
Issue can be closed.
alpesh