Identity in a imported module

Hi 
I'm getting the following libyang error when a I try to get the o-ran-hardware.yang model data from the netconf server.
```
     Identity found, but in a non-implemented module "iana-hardware".
     Failed to resolve identityref "iana-hardware:port". (/ietf-hardware:hardware/component[name='component_port_fh_0_0_0']/class)
```
I found that from the server side the conformance-type corresponding to the iana-hardware module is *import* rather than *implement*, So the Identity iana-hardware:port defined in the iana-hardware module is failed to resolve. 

```
            <module>
                <name>iana-hardware</name>
                <revision>2018-03-13</revision>
                <namespace>urn:ietf:params:xml:ns:yang:iana-hardware</namespace>
                <conformance-type>import</conformance-type>
            </module>
            <module>
                <name>iana-if-type</name>
                <revision>2017-01-19</revision>
                <namespace>urn:ietf:params:xml:ns:yang:iana-if-type</namespace>
                <conformance-type>import</conformance-type>
            </module>
```

I have gone through the [RFC 7950 Section 5.6.6](https://datatracker.ietf.org/doc/html/rfc7950#section-5.6.5). But it does not specify that, whether the yang-models where these Identities are defined needs to be Implemented or Imported.  

Can any one give me a clarification on the same, (It will be helpful if you can point out in any RFC spec)

[Section 9.10.2](https://datatracker.ietf.org/doc/html/rfc7950#section-9.10.2), the last paragraph.