regex error when using \- 

I'm using sysrepo-netopeer2 docker container and running into libyang error when I try to import a YANG module with the following regular expression. The problem seems to come from the \- escape.

```
    typedef NcnameType {
        type string {
            pattern "[_A-Za-z][_\-A-Za-z0-9.]*";
        }
        description "A resource identifier";
    }
```

The expression is valid according to https://regex101.com/r/nWcZ2x/1
It there a different way to write in YANG or is this a libyang issue?


did you try with `"[_A-Za-z][-_A-Za-z0-9.]*"`

Thanks for te quick feedback. That does go through but I'm concerned that it is technically invalid (may work with libyang but not comply with the standard?). 

Also found another case that fails. Looking for a workaround but suggestion welcomed.
```
    typedef VersionType {
        type string {
            pattern "\d|\d\.\d|\d\.\d\.\d";
        }
        description "A version number. Can be n / n.n / n.n.n";
    }



I'm not a supporter, @kulnor. I just want to help :)
In **ietf-yang-types.yang**, there is `typedef yang-identifier` which also escapes the minus sign. I parsed it and didn't face the problem.

```
typedef yang-identifier {
    type string {
      length "1..max";
      pattern '[a-zA-Z_][a-zA-Z0-9\-_.]*';
      pattern '.|..|[^xX].*|.[^mM].*|..[^lL].*';
    }
    description
      "A YANG identifier string as defined by the 'identifier'
       rule in Section 12 of RFC 6020.  An identifier must
       start with an alphabetic character or an underscore
       followed by an arbitrary sequence of alphabetic or
       numeric characters, underscores, hyphens, or dots.
       A YANG identifier MUST NOT start with any possible
       combination of the lowercase or uppercase character
       sequence 'xml'.";
    reference
      "RFC 6020: YANG - A Data Modeling Language for the Network
                 Configuration Protocol (NETCONF)";
  }
```

As I know libyang uses PCRE for the regex handling. Furthermore, your patterns are quite simple, the problem should not happen.

You may want to check your error again or review your PCRE version. Mine is `Release 8.39 21-May-2016`

Hi,
you are facing a common problem. You need to be careful about YANG encoding of special characters. `\` character is one of them and if you want to use it in a string delimited with `"`, you must escape it using another `\`. So, your final pattern would look like this `pattern "[_A-Za-z][_\\-A-Za-z0-9.]*";`, so that `\\` can be then parsed back to `\` which is what you want. As you correctly observed @maixuanhan, in `ietf-yang-types` there is a pattern, which is written in a similar way and it works fine. The reason is that this time the pattern is enclosed in `'` rather than `"`. In that case all the characters are interpreted as they are written and no encoding is necessary. This is also the preferred way of writing patterns because you often need to use backslash and unless having a profound knowledge of YANG, you are likely to run into the problem you are facing.

Regards,
Michal

Thanks to both for taking the time to feedback on this and for your guidance, very much appreciated.

