The build-in type decimal64 should not support illegal leading and trailing zeros

As described in [RFC7950 section 9.3.2](https://tools.ietf.org/html/rfc7950#section-9.3.2)
```
   The canonical form of a positive decimal64 value does not include the
   sign "+".  The decimal point is required.  Leading and trailing zeros
   are prohibited, subject to the rule that there MUST be at least one
   digit before and after the decimal point.  The value zero is
   represented as "0.0".
```

For example,the default value "3" cannot be represented as "03", in this case, expect the result of failure and report an error msg. The module is as follow:

```yang
module mod5 {
  namespace "urn:cesnet:mod5";
  prefix abc;
  yang-version 1.1;

  typedef my-decimal {
    type decimal64 {
      fraction-digits 2;
    }
  }

  leaf l {
    type my-decimal;
    default "03";
  }
}

```

Hi,
this is fine, there is no requirement for the `default` value to be canonical, it [must only be valid](https://tools.ietf.org/html/rfc7950#section-7.6.4).

Regards,
Michal