yanglint parsing error for "pattern" statement using double quotation marks

The version is v0.16-r3. When I check [ietf-netconf-acm.yang](https://github.com/CESNET/libyang/blob/master/tests/schema/yang/ietf/ietf-netconf-acm.yang) by using command `yanglint`, it's OK. 

However, if I use `"` to replace `'` in `pattern` statement, `yanglint` outputs parsing error.
For example,
* The original block is 
```yang
  typedef matchall-string-type {
    type string {
      pattern '\*';
    }
    description
      "The string containing a single asterisk '*' is used
       to conceptually represent all possible values
       for the particular leaf using this data type.";
  }
```
* The modified block is
```yang
  typedef matchall-string-type {
    type string {
      pattern "\*";
    }
    description
      "The string containing a single asterisk '*' is used
       to conceptually represent all possible values
       for the particular leaf using this data type.";
  }
```
* The output is :
```
root@c3b655e4ea93:~/yang# yanglint ietf-netconf-acm.yang
err : Encountered invalid character sequence "\*"".
err : Module "ietf-netconf-acm" parsing failed.
```
I know the correct definition by [IETF](https://tools.ietf.org/html/rfc8341) uses `'`, but not `"`. . However, there are some yang files using `"` in reality. So I prefer this Issue as a minor bug for this project, and hope the developer could solve it.

Thanks,
Boyuan

It's not because IETF uses `'`, it is because the slashed asterisk in double quoted string is prohibited by specification (RFC 7950, sec. 6.1.3):
```
   Within a double-quoted string (enclosed within " "), a backslash
   character introduces a representation of a special character, which
   depends on the character that immediately follows the backslash:

    \n      newline
    \t      a tab character
    \"      a double quote
    \\      a single backslash

   The backslash MUST NOT be followed by any other character.
```