SIGFPE on decimal64 leafref when using the LYB serialization within sysrepo

My [model](https://github.com/jktjkt/czechlight-yang-models/blob/master/czechlight-roadm-v2.yang) uses a list indexed by a `decimal64` type. Attempting to set a particular leaf within that list to a decimal value results in a `SIGFPE` when using the LYB storage. It works when using the XML format.

```c++
session->set_item("/czechlight-roadm-v2:roadm/configuration/channel"
                  "[center-frequency='195.3']/min-level-input/critical-level",
                  std::make_shared<Val>(-10.0));
```
Here's the crash:
```
/home/jkt/work/cesnet/gerrit/CzechLight/cla-sysrepo/submodules/libyang/src/parser_lyb.c:578:29: runtime error: division by zero

Thread 36 "test_sysrepo-cl" received signal SIGFPE, Arithmetic exception.
[Switching to Thread 0x7fffe9c40700 (LWP 17400)]
0x00007ffff0e76419 in lyb_parse_val_2 (type=0x611000265b80, leaf=0x6070006841d0, attr=0x0, unres=0x60300059c500)
    at /home/jkt/work/cesnet/gerrit/CzechLight/cla-sysrepo/submodules/libyang/src/parser_lyb.c:578
578             frac = value->dec64 % type->info.dec64.div;
(gdb) bt
#0  0x00007ffff0e76419 in lyb_parse_val_2 (type=0x611000265b80, leaf=0x6070006841d0, attr=0x0, unres=0x60300059c500)
    at /home/jkt/work/cesnet/gerrit/CzechLight/cla-sysrepo/submodules/libyang/src/parser_lyb.c:578
#1  0x00007ffff0e77a1b in lyb_parse_value (type=0x611000265b80, leaf=0x6070006841d0, attr=0x0, data=0x7fffec09150a "\004", unres=0x60300059c500, lybs=0x7fffe9c3edf0)
    at /home/jkt/work/cesnet/gerrit/CzechLight/cla-sysrepo/submodules/libyang/src/parser_lyb.c:680
#2  0x00007ffff0e7c103 in lyb_parse_subtree (ctx=0x60d00008cef0, data=0x7fffec091501 "\004\344\372\002", parent=0x607000684160, first_sibling=0x0, yang_data_name=0x0, options=8705, 
    unres=0x60300059c500, lybs=0x7fffe9c3edf0) at /home/jkt/work/cesnet/gerrit/CzechLight/cla-sysrepo/submodules/libyang/src/parser_lyb.c:994
#3  0x00007ffff0e7cb1a in lyb_parse_subtree (ctx=0x60d00008cef0, data=0x7fffec0914fd "\v", parent=0x6070006840f0, first_sibling=0x0, yang_data_name=0x0, options=8705, unres=0x60300059c500, 
    lybs=0x7fffe9c3edf0) at /home/jkt/work/cesnet/gerrit/CzechLight/cla-sysrepo/submodules/libyang/src/parser_lyb.c:1031
#4  0x00007ffff0e7cb1a in lyb_parse_subtree (ctx=0x60d00008cef0, data=0x7fffec0914f9 "\034", <incomplete sequence \316>, parent=0x607000657bc0, first_sibling=0x0, yang_data_name=0x0, 
    options=8705, unres=0x60300059c500, lybs=0x7fffe9c3edf0) at /home/jkt/work/cesnet/gerrit/CzechLight/cla-sysrepo/submodules/libyang/src/parser_lyb.c:1031
#5  0x00007ffff0e7cb1a in lyb_parse_subtree (ctx=0x60d00008cef0, data=0x7fffec0914f5 "\036", <incomplete sequence \350>, parent=0x0, first_sibling=0x7fffe9c3edb0, yang_data_name=0x0, 
    options=8705, unres=0x60300059c500, lybs=0x7fffe9c3edf0) at /home/jkt/work/cesnet/gerrit/CzechLight/cla-sysrepo/submodules/libyang/src/parser_lyb.c:1031
#6  0x00007ffff0e7df62 in lyd_parse_lyb (ctx=0x60d00008cef0, data=0x7fffec09101a "\377\036\023", options=8705, data_tree=0x0, yang_data_name=0x0, parsed=0x0)
    at /home/jkt/work/cesnet/gerrit/CzechLight/cla-sysrepo/submodules/libyang/src/parser_lyb.c:1139
#7  0x00007ffff0fc1563 in lyd_parse_ (ctx=0x60d00008cef0, rpc_act=0x0, data=0x7fffec091000 "", format=LYD_LYB, options=8705, data_tree=0x0, yang_data_name=0x0)
    at /home/jkt/work/cesnet/gerrit/CzechLight/cla-sysrepo/submodules/libyang/src/tree_data.c:930
#8  0x00007ffff0fc1e3f in lyd_parse_data_ (ctx=0x60d00008cef0, data=0x7fffec091000 "", format=LYD_LYB, options=8705, ap=0x7fffe9c3f150)
    at /home/jkt/work/cesnet/gerrit/CzechLight/cla-sysrepo/submodules/libyang/src/tree_data.c:993
#9  0x00007ffff0fc21b9 in lyd_parse_fd_ (ctx=0x60d00008cef0, fd=23, format=LYD_LYB, options=8705, ap=0x7fffe9c3f150)
    at /home/jkt/work/cesnet/gerrit/CzechLight/cla-sysrepo/submodules/libyang/src/tree_data.c:1028
#10 0x00007ffff0fc23ab in lyd_parse_fd (ctx=0x60d00008cef0, fd=23, format=LYD_LYB, options=8705)
    at /home/jkt/work/cesnet/gerrit/CzechLight/cla-sysrepo/submodules/libyang/src/tree_data.c:1042
#11 0x00007ffff562f744 in dm_load_data_tree_file (dm_ctx=0x61300004c080, fd=23, 
    data_filename=0x60b0002b0550 "/home/jkt/work/prog/_build/sysrepo/GCC_8_1_NETCONF-Debug/repository/data/czechlight-roadm-v2.running", schema_info=0x60d00008ce20, data_info=0x7fffe9c3f650)
    at /home/jkt/work/cesnet/gerrit/CzechLight/cla-sysrepo/submodules/sysrepo/src/data_manager.c:1438
#12 0x00007ffff563280c in dm_load_data_tree (dm_ctx=0x61300004c080, dm_session_ctx=0x608000224fa0, schema_info=0x60d00008ce20, ds=SR_DS_RUNNING, data_info=0x7fffe9c3f650)
    at /home/jkt/work/cesnet/gerrit/CzechLight/cla-sysrepo/submodules/sysrepo/src/data_manager.c:1542
#13 0x00007ffff5660389 in dm_get_data_info_internal (dm_ctx=0x61300004c080, dm_session_ctx=0x608000224fa0, module_name=0x60300059c470 "czechlight-roadm-v2", skip_validation=false, 
    must_be_freed=0x0, info=0x7fffe9c3f8c0) at /home/jkt/work/cesnet/gerrit/CzechLight/cla-sysrepo/submodules/sysrepo/src/data_manager.c:3004
#14 0x00007ffff5661a89 in dm_get_data_info (dm_ctx=0x61300004c080, dm_session_ctx=0x608000224fa0, module_name=0x60300059c470 "czechlight-roadm-v2", info=0x7fffe9c3f8c0)
    at /home/jkt/work/cesnet/gerrit/CzechLight/cla-sysrepo/submodules/sysrepo/src/data_manager.c:3046
#15 0x00007ffff55f1b9c in rp_dt_set_item (dm_ctx=0x61300004c080, session=0x608000224fa0, 
    xpath=0x60b000295900 "/czechlight-roadm-v2:roadm/configuration/channel[center-frequency='195.3']/min-level-input/critical-level", options=SR_EDIT_DEFAULT, value=0x60300059c3e0, 
    str_val=0x0, is_state=false) at /home/jkt/work/cesnet/gerrit/CzechLight/cla-sysrepo/submodules/sysrepo/src/rp_dt_edit.c:344
#16 0x00007ffff55f9a79 in rp_dt_set_item_wrapper (rp_ctx=0x613000049680, session=0x6130000a8ac0, 
    xpath=0x60b000295900 "/czechlight-roadm-v2:roadm/configuration/channel[center-frequency='195.3']/min-level-input/critical-level", val=0x60300059c3e0, str_val=0x0, opt=0)
    at /home/jkt/work/cesnet/gerrit/CzechLight/cla-sysrepo/submodules/sysrepo/src/rp_dt_edit.c:594
#17 0x00007ffff553db7e in rp_set_item_req_process (rp_ctx=0x613000049680, session=0x6130000a8ac0, msg=0x607000624700)
    at /home/jkt/work/cesnet/gerrit/CzechLight/cla-sysrepo/submodules/sysrepo/src/request_processor.c:1194
#18 0x00007ffff558dcd6 in rp_req_dispatch (rp_ctx=0x613000049680, session=0x6130000a8ac0, msg=0x607000624700, skip_msg_cleanup=0x7fffe9c3fc40)
    at /home/jkt/work/cesnet/gerrit/CzechLight/cla-sysrepo/submodules/sysrepo/src/request_processor.c:3469
#19 0x00007ffff5591de5 in rp_msg_dispatch (rp_ctx=0x613000049680, session=0x6130000a8ac0, msg=0x607000624700)
    at /home/jkt/work/cesnet/gerrit/CzechLight/cla-sysrepo/submodules/sysrepo/src/request_processor.c:3668
#20 0x00007ffff55941e5 in rp_worker_thread_execute (rp_ctx_p=0x613000049680) at /home/jkt/work/cesnet/gerrit/CzechLight/cla-sysrepo/submodules/sysrepo/src/request_processor.c:3769
#21 0x00007ffff36b69e7 in start_thread (arg=<optimized out>) at pthread_create.c:456
#22 0x00007ffff33f6d3f in clone () at ../sysdeps/unix/sysv/linux/x86_64/clone.S:97
```
Here's the actual data that it's operating on:
```
(gdb) print value->dec64
$2 = 195300

(gdb) print *type
$3 = {
  base = LY_TYPE_LEAFREF, 
  value_flags = 0 '\000', 
  ext_size = 0 '\000', 
  ext = 0x0, 
  der = 0x7ffff1cf5e80 <ly_type_leafref>, 
  parent = 0x611000265b00, 
  info = {
    /* ... */
    dec64 = {
      range = 0x6040001add90, 
      dig = 64 '@', 
      div = 0
    }, 
    /* ... */
    lref = {
      path = 0x6040001add90 "../../../channel-plan/channel/center-frequency", 
      target = 0x611000266b40, 
      req = 0 '\000'
    }, 
    /* ... */
  }
}
````
It seems to me that the code should chase the `leafref`s until it arrives at the "real type". It also seems to me that I'm actually **not** operating on leafrefs here, but on list keys. Anyway, in this case the data type can be found like this:
```
(gdb) print *(type->info->lref->target)
$4 = {
  name = 0x6030005a10f0 "center-frequency", 
  dsc = 0x606000e5d240 "Frequency of the central point of the bandwidth range", 
  ref = 0x0, 
  flags = 65, 
  ext_size = 0 '\000', 
  iffeature_size = 0 '\000', 
  padding = "\000\000", 
  must_size = 0 '\000', 
  ext = 0x0, 
  iffeature = 0x0, 
  module = 0x61000002ca40, 
  nodetype = LYS_LEAF, 
  parent = 0x60d000080a50, 
  backlinks = 0x6020009dd770, 
  next = 0x611000266c80, 
  prev = 0x611000266dc0, 
  priv = 0x6020009de310, 
  hash = "\255\000\000", 
  when = 0x0, 
  must = 0x0, 
  type = {
    base = LY_TYPE_DEC64, 
    value_flags = 0 '\000', 
    ext_size = 0 '\000', 
    ext = 0x0, 
    der = 0x7ffff1cf58e0 <ly_type_dec64>, 
    parent = 0x611000266b40, 
    info = {
      binary = {
        length = 0x606000e5d7e0
      }, 
      bits = {
        bit = 0x606000e5d7e0, 
        count = 3
      }, 
      dec64 = {
        range = 0x606000e5d7e0, 
        dig = 3 '\003', 
        div = 1000
      }, 
      enums = {
        enm = 0x606000e5d7e0, 
        count = 3
      }, 
      ident = {
        ref = 0x606000e5d7e0, 
        count = 3
      }, 
      inst = {
        req = -32 '\340'
      }, 
      num = {
        range = 0x606000e5d7e0
      }, 
      lref = {
        path = 0x606000e5d7e0 "P\021Z", 
        target = 0x3, 
        req = -24 '\350'
      }, 
      str = {
        length = 0x606000e5d7e0, 
        patterns = 0x3, 
        pat_count = 1000, 
        patterns_pcre = 0x0
      }, 
      uni = {
        types = 0x606000e5d7e0, 
        count = 3, 
        has_ptr_type = 0
      }
    }
  }, 
  units = 0x6020009dcd90 "THz", 
  dflt = 0x0
}
```

Hi,
you are right, it needs to be resolved and the actual type found. Should be fixed now, please test it.

Regards,
Michal

I'm getting a segfault now:

```
/home/jkt/work/cesnet/gerrit/CzechLight/cla-sysrepo/submodules/libyang/src/parser_lyb.c:491:52:
 runtime error: member access within null pointer of type 'struct lys_tpdf'

Thread 35 "test_sysrepo-cl" received signal SIGSEGV, Segmentation fault.
[Switching to Thread 0x7fffeb454700 (LWP 1725)]
0x00007ffff0e7041e in lyb_parse_val_2 (type=0x38, leaf=0x607000728a40, attr=0x0, unres=0x60300080b780)
    at /home/jkt/work/cesnet/gerrit/CzechLight/cla-sysrepo/submodules/libyang/src/parser_lyb.c:491
491             for (; type->base == LY_TYPE_LEAFREF; type = &type->der->type);
(gdb) bt
#0  0x00007ffff0e7041e in lyb_parse_val_2 (type=0x38, leaf=0x607000728a40, attr=0x0, unres=0x60300080b780)
    at /home/jkt/work/cesnet/gerrit/CzechLight/cla-sysrepo/submodules/libyang/src/parser_lyb.c:491
#1  0x00007ffff0e72f28 in lyb_parse_value (type=0x611000297180, leaf=0x607000728a40, attr=0x0, data=0x7fffec29a50a "\004", unres=0x60300080b780, lybs=0x7fffeb452df0)
    at /home/jkt/work/cesnet/gerrit/CzechLight/cla-sysrepo/submodules/libyang/src/parser_lyb.c:688
#2  0x00007ffff0e77610 in lyb_parse_subtree (ctx=0x60d000096540, data=0x7fffec29a501 "\004\344\372\002", parent=0x6070007289d0, first_sibling=0x0, yang_data_name=0x0, options=8705, 
    unres=0x60300080b780, lybs=0x7fffeb452df0) at /home/jkt/work/cesnet/gerrit/CzechLight/cla-sysrepo/submodules/libyang/src/parser_lyb.c:1002
#3  0x00007ffff0e78027 in lyb_parse_subtree (ctx=0x60d000096540, data=0x7fffec29a4fd "\v", parent=0x607000728960, first_sibling=0x0, yang_data_name=0x0, options=8705, unres=0x60300080b780, 
    lybs=0x7fffeb452df0) at /home/jkt/work/cesnet/gerrit/CzechLight/cla-sysrepo/submodules/libyang/src/parser_lyb.c:1039
#4  0x00007ffff0e78027 in lyb_parse_subtree (ctx=0x60d000096540, data=0x7fffec29a4f9 "\034", <incomplete sequence \316>, parent=0x607000725400, first_sibling=0x0, yang_data_name=0x0, 
    options=8705, unres=0x60300080b780, lybs=0x7fffeb452df0) at /home/jkt/work/cesnet/gerrit/CzechLight/cla-sysrepo/submodules/libyang/src/parser_lyb.c:1039
#5  0x00007ffff0e78027 in lyb_parse_subtree (ctx=0x60d000096540, data=0x7fffec29a4f5 "\036", <incomplete sequence \350>, parent=0x0, first_sibling=0x7fffeb452db0, yang_data_name=0x0, 
    options=8705, unres=0x60300080b780, lybs=0x7fffeb452df0) at /home/jkt/work/cesnet/gerrit/CzechLight/cla-sysrepo/submodules/libyang/src/parser_lyb.c:1039
#6  0x00007ffff0e7946f in lyd_parse_lyb (ctx=0x60d000096540, data=0x7fffec29a01a "\377\036\023", options=8705, data_tree=0x0, yang_data_name=0x0, parsed=0x0)
    at /home/jkt/work/cesnet/gerrit/CzechLight/cla-sysrepo/submodules/libyang/src/parser_lyb.c:1147
#7  0x00007ffff0fbca70 in lyd_parse_ (ctx=0x60d000096540, rpc_act=0x0, data=0x7fffec29a000 "", format=LYD_LYB, options=8705, data_tree=0x0, yang_data_name=0x0)
    at /home/jkt/work/cesnet/gerrit/CzechLight/cla-sysrepo/submodules/libyang/src/tree_data.c:930
#8  0x00007ffff0fbd34c in lyd_parse_data_ (ctx=0x60d000096540, data=0x7fffec29a000 "", format=LYD_LYB, options=8705, ap=0x7fffeb453150)
    at /home/jkt/work/cesnet/gerrit/CzechLight/cla-sysrepo/submodules/libyang/src/tree_data.c:993
#9  0x00007ffff0fbd6c6 in lyd_parse_fd_ (ctx=0x60d000096540, fd=23, format=LYD_LYB, options=8705, ap=0x7fffeb453150)
    at /home/jkt/work/cesnet/gerrit/CzechLight/cla-sysrepo/submodules/libyang/src/tree_data.c:1028
#10 0x00007ffff0fbd8b8 in lyd_parse_fd (ctx=0x60d000096540, fd=23, format=LYD_LYB, options=8705)
    at /home/jkt/work/cesnet/gerrit/CzechLight/cla-sysrepo/submodules/libyang/src/tree_data.c:1042
#11 0x00007ffff562c734 in dm_load_data_tree_file (dm_ctx=0x61300005c700, fd=23, 
    data_filename=0x60b00033a170 "/home/jkt/work/prog/_build/sysrepo/GCC_8_1_NETCONF-Debug/repository/data/czechlight-roadm-v2.running", schema_info=0x60d000096470, data_info=0x7fffeb453650)
    at /home/jkt/work/cesnet/gerrit/CzechLight/cla-sysrepo/submodules/sysrepo/src/data_manager.c:1438
#12 0x00007ffff562f7fc in dm_load_data_tree (dm_ctx=0x61300005c700, dm_session_ctx=0x608000242920, schema_info=0x60d000096470, ds=SR_DS_RUNNING, data_info=0x7fffeb453650)
    at /home/jkt/work/cesnet/gerrit/CzechLight/cla-sysrepo/submodules/sysrepo/src/data_manager.c:1542
#13 0x00007ffff565d379 in dm_get_data_info_internal (dm_ctx=0x61300005c700, dm_session_ctx=0x608000242920, module_name=0x60300080b6f0 "czechlight-roadm-v2", skip_validation=false, 
    must_be_freed=0x0, info=0x7fffeb4538c0) at /home/jkt/work/cesnet/gerrit/CzechLight/cla-sysrepo/submodules/sysrepo/src/data_manager.c:3004
#14 0x00007ffff565ea79 in dm_get_data_info (dm_ctx=0x61300005c700, dm_session_ctx=0x608000242920, module_name=0x60300080b6f0 "czechlight-roadm-v2", info=0x7fffeb4538c0)
    at /home/jkt/work/cesnet/gerrit/CzechLight/cla-sysrepo/submodules/sysrepo/src/data_manager.c:3046
#15 0x00007ffff55eeb8c in rp_dt_set_item (dm_ctx=0x61300005c700, session=0x608000242920, 
    xpath=0x60b0002d5960 "/czechlight-roadm-v2:roadm/configuration/channel[center-frequency='195.3']/min-level-input/critical-level", options=SR_EDIT_DEFAULT, value=0x60300080b660, 
    str_val=0x0, is_state=false) at /home/jkt/work/cesnet/gerrit/CzechLight/cla-sysrepo/submodules/sysrepo/src/rp_dt_edit.c:344
#16 0x00007ffff55f6a69 in rp_dt_set_item_wrapper (rp_ctx=0x613000059d00, session=0x61300005f640, 
    xpath=0x60b0002d5960 "/czechlight-roadm-v2:roadm/configuration/channel[center-frequency='195.3']/min-level-input/critical-level", val=0x60300080b660, str_val=0x0, opt=0)
    at /home/jkt/work/cesnet/gerrit/CzechLight/cla-sysrepo/submodules/sysrepo/src/rp_dt_edit.c:594
#17 0x00007ffff553ab6e in rp_set_item_req_process (rp_ctx=0x613000059d00, session=0x61300005f640, msg=0x6070006aed30)
    at /home/jkt/work/cesnet/gerrit/CzechLight/cla-sysrepo/submodules/sysrepo/src/request_processor.c:1194
#18 0x00007ffff558acc6 in rp_req_dispatch (rp_ctx=0x613000059d00, session=0x61300005f640, msg=0x6070006aed30, skip_msg_cleanup=0x7fffeb453c40)
    at /home/jkt/work/cesnet/gerrit/CzechLight/cla-sysrepo/submodules/sysrepo/src/request_processor.c:3469
#19 0x00007ffff558edd5 in rp_msg_dispatch (rp_ctx=0x613000059d00, session=0x61300005f640, msg=0x6070006aed30)
    at /home/jkt/work/cesnet/gerrit/CzechLight/cla-sysrepo/submodules/sysrepo/src/request_processor.c:3668
#20 0x00007ffff55911d5 in rp_worker_thread_execute (rp_ctx_p=0x613000059d00) at /home/jkt/work/cesnet/gerrit/CzechLight/cla-sysrepo/submodules/sysrepo/src/request_processor.c:3769
#21 0x00007ffff36b29e7 in start_thread (arg=<optimized out>) at pthread_create.c:456
#22 0x00007ffff33f2d3f in clone () at ../sysdeps/unix/sysv/linux/x86_64/clone.S:97
```

Looking into the backtrace, I see that `type` used to be `0x611000297180`. Here's how that one looks like:

```
(gdb) print *((struct lys_type*)(0x611000297180))
$8 = {
  base = LY_TYPE_LEAFREF, 
  value_flags = 0 '\000', 
  ext_size = 0 '\000', 
  ext = 0x0, 
  der = 0x7ffff1cf2400 <ly_type_leafref>, 
  parent = 0x611000297100, 
  info = {
    binary = {
      length = 0x6040001d7d90
    }, 
    bits = {
      bit = 0x6040001d7d90, 
      count = 2720064
    }, 
    dec64 = {
      range = 0x6040001d7d90, 
      dig = 64 '@', 
      div = 0
    }, 
    enums = {
      enm = 0x6040001d7d90, 
      count = 2720064
    }, 
    ident = {
      ref = 0x6040001d7d90, 
      count = 2720064
    }, 
    inst = {
      req = -112 '\220'
    }, 
    num = {
      range = 0x6040001d7d90
    }, 
    lref = {
      path = 0x6040001d7d90 "../../../channel-plan/channel/center-frequency", 
      target = 0x611000298140, 
      req = 0 '\000'
    }, 
    str = {
      length = 0x6040001d7d90, 
      patterns = 0x611000298140, 
      pat_count = 0, 
      patterns_pcre = 0x0
    }, 
    uni = {
      types = 0x6040001d7d90, 
      count = 2720064, 
      has_ptr_type = 24848
    }
  }
}
```
And the original `type->der` looks like this:
```
(gdb) print *((struct lys_type*)(0x611000297180))->der
$10 = {
  name = 0x7ffff12b2dc0 "leafref", 
  dsc = 0x7ffff12b2e00 "A reference to a leaf instance", 
  ref = 0x7ffff12b27c0 "RFC 6020, section 4.2.4", 
  flags = 0, 
  ext_size = 0 '\000', 
  padding_iffsize = 0 '\000', 
  has_union_leafref = 0 '\000', 
  padding = "\000\000", 
  ext = 0x0, 
  units = 0x0, 
  module = 0x0, 
  type = {
    base = LY_TYPE_LEAFREF, 
    value_flags = 0 '\000', 
    ext_size = 0 '\000', 
    ext = 0x0, 
    der = 0x0, 
    parent = 0x0, 
    info = {
      binary = {
        length = 0x0
      }, 
      bits = {
        bit = 0x0, 
        count = 0
      }, 
      dec64 = {
        range = 0x0, 
        dig = 0 '\000', 
        div = 0
      }, 
      enums = {
        enm = 0x0, 
        count = 0
      }, 
      ident = {
        ref = 0x0, 
        count = 0
      }, 
      inst = {
        req = 0 '\000'
      }, 
      num = {
        range = 0x0
      }, 
      lref = {
        path = 0x0, 
        target = 0x0, 
        req = 0 '\000'
      }, 
      str = {
        length = 0x0, 
        patterns = 0x0, 
        pat_count = 0, 
        patterns_pcre = 0x0
      }, 
      uni = {
        types = 0x0, 
        count = 0, 
        has_ptr_type = 0
      }
    }
  }, 
  dflt = 0x0
}
```

Fixed, thanks.