lys_print* functions do not handle unions properly

The `lys_print*` functions don't handle unions properly. According to RFC 6020 section 9.12 for a given string we must iterate over members of a union till a match is found.

> 
>    When a string representing a union data type is validated, the string
>    is validated against each member type, in the order they are
>    specified in the "type" statement, until a match is found.

For example, in [ietf-alarms](http://www.netconfcentral.org/modules/ietf-alarms), the `resource` typedef is a union of `instance-identifier`, `object-identifier` or a `string`. So when I pass a string (using sysrepo APIs for sending notifications) the lys_print function puts an error and stops there without checking for all possibilities.

Not sure if this is a problem with libyang or sysrepo. I had opened a [ticket](https://github.com/sysrepo/sysrepo/issues/1069) with sysrepo. You can find samples there too.

```
[ERR] (dm_ly_log_cb:1319) libyang error: Invalid NameStartChar of the attribute.
```

libyang should be able to handle the union case properly in lys_print* functions.

Hi,
the problem in this case was that the printed `resource` node was marked as non-validated and therefore the printer failed to find the resolved type of the union, correctly. So, do you have a specific use-case that you think should work but it does not? Otherwise, please close this issue.

Regards,
Michal

Yes, there is a very specific case. The ietf-alarms.yang says a resource could be a string too.

```
    typedef resource {
      type union {
        type instance-identifier;
        type yang:object-identifier;
        type string;
      }
```
So when sysrepo builds a for `/ietf-alarms:alarm-notification/resource` something like:
```
    sr_val_set_xpath(&values[0], HDR "/resource");
    sr_val_set_str_data(&values[0], SR_STRING_T, "pingpong");
```

I expect the string to be accepted regardless. If the `resource` node was marked as non-validated, how do I make it validated so printer can resolve the union type correctly? Or am I doing it wrong? Is there a better way to do this?

My bad sorry. The fix would probably come from sysrepo and not here it seems.

Thanks.