`if-feature` on a `uses` statement doesn't work.

Given foo.yang as follows:
```
module foo {
  yang-version 1.1;
  namespace "https://example.net/foo";
  prefix "f";

  feature foo-feature;

  grouping foo-grouping {
    leaf foo {
      type string;
      mandatory true;
    }
  }

  uses foo-grouping {
    if-feature foo-feature;
  }

}
```

And bar.yang as follows:
```
module bar {
  yang-version 1.1;
  namespace "https://example.net/bar";
  prefix "b";
  leaf bar {
    type string;
  }
}
```

And config.json:
```
{
  "bar:bar": "bar-1"
}
```

This command produces an error when it shouldn't:
```
# yanglint --features=foo: foo.yang bar.yang config.json   
libyang err : Mandatory node "foo" instance does not exist. (Schema location /foo:foo, line number 3.)
YANGLINT[E]: Failed to parse input data file "config.json".
```

Notes:

1. module "foo" is definitely *implemented*.
2. feature "foo-feature" is definitely NOT enabled.
3. `if-feature` is  a valid `uses` substatement (RFC 7950, [Section 7.13.1](https://datatracker.ietf.org/doc/html/rfc7950#section-7.13.1).)

PS: This issue spins out of Issue #1844 

Yes, it seems to have been the same problem as recently with `augment`, which is that its if-features were not being evaluated at all. They should be now, in any case.