`anydata` statement doesn't validate "[null]"


Given test.yang:
```
module test {
  yang-version 1.1;
  namespace "urn:ietf:params:xml:ns:yang:test";
  prefix t;

  container c {
    anydata foo;
  }
}
```

And test.json:
```
{
  "test:c" : { 
    "foo": [
      null
    ]
  }
}
```

Validation fails:
```
$ yanglint test.yang test.json 
err : Invalid anydata/anyxml content (not an object nor string). (/test:c/foo)
```

FWIW, `yangson` validates it okay.



hmm, but I read in [RFC 7951, section 5.5](https://tools.ietf.org/html/rfc7951#section-5.5): `An anydata instance is encoded in the same way as a container, i.e., as a name/object pair.`, so from my perspective `"foo": [null]` is not valid encoding of anydata according to your model. There is text about `[null]`, but it is there to allow representation of empty type value inside the anydata.